html {
	width: 100%;
	height: auto;
}

body {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
}

.bodyTemplate {
	background-color: grey;
}

#contentTemplate {
	margin-top: 8%;
}


/*------------ PAGE ACCUEIL ------------*/


/*---- BARRE DE NAVIGATION ----*/

nav {
	width: 99.8%;
	height: auto;
	background-color: #338A9E;
	border-bottom: 5px solid black;
	position: fixed;
	top: 0;
	z-index: 1;
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: center;
	align-items: center;
}

#title1 {
	color: black;
	text-decoration: none;
}

#link1 {
	color: black;
	text-decoration: none;
}

#spanMenuNav {
	width: 30%;
	height: auto;
	margin-right: 6%;
}

ul {
	transition: all 2s ease;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

nav #spanMenuNav ul li {
	transition: all 2s linear;
	border: 2px solid rgba(0, 0, 0, .7);
	font-size: 1.4em !important;
	list-style: none;
	display: inline-flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	padding: 2%;
	margin-right: 2%;
}
nav #spanMenuNav ul li:hover {
	background-color: #154F7F;
}

#link3 #link1{
	transition: all 1.5s linear;
	border-radius: 5%;
}
#link3 #link1:hover {
	background-color: red;
}

/*PAGE INSCRIPTION*/

#titleInscription {
	font-size: 2.4em;
	text-align: center;
	margin-left: 2%;
	text-shadow: 1px 1px 2px black;
}

.formulaireInscription {
	width: 30%;
	height: 100%;
	border: 1px dashed black;
	border-radius: 5px 5px;
	background-color: #88ABC5;
	margin-top: 6%;
	margin-bottom: 10%;
	margin-left: 35%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
	padding: 1.5%;
}

.fieldsetRegister {
	width: auto;
	height: auto;
	border: 2px solid red;
	border-radius: 5px 5px;
	padding: 1%;
	margin-bottom: 2%;
}

#legendInscription {
	font-size: 1.3em;
	font-weight: 600;
}

#inputRegister {
	width: 98%;
	height: auto;
	transition: all 1s linear !important;
	border-radius: 5px 5px;
}

#inputRegister:focus {
	background-color: #9DD17B;
}

#inputRegisterSend {
	width: 30%;
	height: auto;
	margin-left: 35%;
	margin-top: 2%;
	border-radius: 5px 5px;
	font-family: roboto;
	font-weight: 500;
}

.containerLinkConnexion {
	margin-top: 2%;
}


/*PAGE DE LOGIN/CONNEXION*/

#titleLogin {
	font-size: 2.4em;
	text-shadow: 1px 1px 2px black;
	margin-top: 8%;
	text-align: center;
}

.formLogin {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 2%;
}

.fieldsetLogin {
	width: auto;
	height: auto;
	padding-top: 1.5%;
	border: 1px solid red;
	box-shadow: 2px 2px 4px black;
}

#legendLogin {
	font-size: 1.3em;
}

#imgLogin {
	width: 100%;
	height: auto;
}
#inputLogin{
	transition: all 1s linear !important;
	border-radius: 5px 5px;
}
#inputLogin:focus{
	background-color: #9DD17B;
}
#inputLoginSubmit{
	border-radius: 5%;
	box-shadow: 1px 1px 3px 1px;
}
.containerLinkRegister {
	margin-top: 2%;
	text-align: center;
}


/*PAGE DE BLOG*/

#titleListPostsh1 {
	text-align: center !important;
	margin-top: 8%;
	font-size: 2.4em;
	text-shadow: 1px 1px 2px black;
}

#derniersBillets {
	margin-left: 10%;
}

#titlePostView {
	font-size: 2.4em;
	text-align: center;
	margin-top: 8%;
	text-shadow: 1px 1px 2px grey;
}

#retourBillet {
	padding-left: 10%;
	font-weight: 600;
	color: rgb(45, 76, 128);
}

#retourBillet:hover {
	color: rgb(0, 173, 12);
}


/*MES CHAPITRES*/


/*ARTICLE*/

.news {
	width: 80%;
	height: 100%;
	margin: 0 auto;
	margin-bottom: 5%;
	background-color: #88ABC5;
	border: 1px solid black;
	border-radius: 5px 5px;
	text-align: justify-all;
	padding: 2%;
}

#titleBillet {
	text-align: center;
	font-size: 1.6em;
}

#content {
	font-weight: 400;
	color: rgb(0, 0, 0);
	font-size: 1.5em;
}


/*PAGE COMMENTAIRES*/

.containerFormComment {
	width: 100%;
	height: 100%;
	display: inline-flex;
	flex-direction: row;
	justify-content: space-around;
	margin-bottom: 1.5%;
}

#titleComment {
	width: auto;
	height: auto;
	text-align: center;
	font-size: 1.8em;
	text-shadow: 1px 1px 1px grey;
	border-bottom: 2mm ridge rgba(97, 102, 93, .8);
	padding-bottom: 2%;
}

#formulaireComment {
	width: 40%;
	height: 50%;
	margin-top: 2%;
	margin-right: 2%;
	float: left;
	background-color: #88ABC5;
	border-radius: 5px 5px;
	padding: 2%;
}

#fieldsetPost {
	border: 1px solid red;
	border-radius: 5px 5px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
}

#legendFormPost {
	font-weight: 600;
}

#containerComment {
	width: 30%;
	height: 40%;
	border-radius: 5px 5px;
	background-color: #ffffff;
	border: 1px solid black;
	font-size: .9em;
	margin-top: 2%;
	padding: 2%;
}

#hrPost {
	border-bottom: 2mm ridge rgba(97, 102, 93, .8);
	margin-bottom: 3%;
}

#linkSuitPost {
	width: 100%;
	height: auto;
	color: black;
	border: 1px solid black;
	border-radius: 5px 5px;
	box-shadow: 2px 2px 3px 1px;
	margin-top: 5%;
	padding: 1%;
	text-decoration-line: none;
	transition: all 2s linear;
}

#linkSuitPost:hover {
	background-color: #154F7F;
}


/*PAGE DE CONTACT*/

.containerContact {
	width: 100%;
	height: 100%;
	margin-bottom: 4%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-content: center;
}

#titleContact {
	font-size: 2.4em;
	text-align: center;
	margin-top: 2%;
	text-shadow: 1px 1px 2px black;
}

.formContact {
	width: auto;
	height: 100%;
	margin-top:0;
	background-color: #88ABC5;
	border-radius: 5px 5px;
	display: inline-flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	align-items: center;
	padding: 1%;
}

.fieldsetContact {
	width: auto;
	height: auto;
	border: 2px solid red;
	background-color: #88ABC5;
	border-radius: 5px 5px;
	margin-bottom: 1%;
}

#legendContact {
	font-size: 1.3em;
}

#inputContact {
	transition: all 1s linear !important;
	width: 98%;
	height: auto;
}

#inputContact:focus {
	background-color: #9DD17B;
}

#inputTextarea {
	transition: all 1s linear !important;
}

#inputTextarea:focus {
	background-color: rgb(168, 168, 168);
}

#buttonContact {
	border-radius: 5px 5px;
}


/* PAGE ADMINISTRATION */

#titleAdministration {
	text-align: center;
	font-size: 2.4em;
	margin-left: 2%;
	text-shadow: 1px 1px 2px black;
}


/* BLOC CHAPITRES */

#titleAdminChaptH2 {
	text-align: center;
	font-size: 2em;
	text-shadow: 1px 1px 2px black;
	color: #338A9E;
}

.containerChapAdmin {
	border: 1px solid black;
	margin-left: 1%;
	margin-right: 1%;
}

#adminTabHeader {
	width: 100%;
	height: auto;
	border: 2px solid black;
}

#adminTh {
	border: 1px solid black;
	background-color: rgb(0, 0, 0);
	color: rgb(168, 168, 168);
}

.containerResponseChap {
	border: 1px solid black;
}

#tdAdmin {
	border: 1px solid black;
	text-align: center;
}

#ChapterModif {
	vertical-align: center;
}


/* BLOC COMMENTAIRE */

#titleAdminComH2 {
	text-align: center;
	font-size: 2em;
	text-shadow: 1px 1px 2px black;
	color: #338A9E;
}

.containerComAdmin {
	border: 1px solid black;
	margin-left: 1%;
	margin-right: 1%;
}


/* BLOC USER */

.containerUserAdmin {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 5%;
}


/* BLOC COMMENTAIRE SIGNALER */

#titleAdminComH22 {
	text-align: center;
	font-size: 2em;
	text-shadow: 1px 1px 2px black;
	color: red;
}


/* PAGE DE PROFIL UTILISATEUR */

#titleProfil{
	text-align: center;
	font-size: 2.4em;
	margin-left: 2%;
	text-shadow: 1px 1px 2px black;
}

.containerAvatar{
	width: 20%;
	height: auto;
	margin-right: 5%;
	margin-bottom: 5%;
	float: right;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;	
	box-shadow: 2px 2px 4px 2px;
	border: 1px dashed black;
}
#titleAvatar{
	text-align: center;
}
#imgChoise{
	width: 60%;
	height: auto;
	border-radius: 5%;
	margin-left: 20%;
	margin-bottom: 2%;
}
.containerComPost{
	margin-top: 5%;
	margin-bottom: 5%;
}
/*-----------PIED DE PAGE----------*/

footer {
	width: auto;
	height: auto;
	border: 2px solid black;
	font-size: 1.2em;
	font-weight: 600;
	padding-left: 10%;
	padding-right: 10%;
	background-color: #338A9E;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}